<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Landing Page</title>
</head>

<body>
  <!-- TODO: replace user with username -->
  <div class="container">

    <form>
      <button type="submit" class="btn btn-danger">Logout</button>
    </form>
    <div class="text-center">
      <h1> Welcome, user! </h1>
    </div>
    <form>
      <button type="submit">Make a Reservation</button>
      <button type="submit">Manage Existing Reservations</button>
    </form>
  </div>
</body>

</html>