<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Landing Page</title>
</head>
<body>

  <div class="container">

    <form>
      <button type="submit" class="btn btn-danger">Logout</button>
    </form>
    <div class="text-center">
  <!-- TODO: replace user with username and replaced affliated restaurant with actual restaurant name -->
      <h1>
        <p> Welcome, user! </p><br>
        <p> Restaurant: Affliated Restaurant</p>
      </h1>
    </div>
    <!-- TODO: Change number to pending reservations. -->
    <p>Pending Reservations : Number</p>
    <form>
      <button type="submit">Manage Existing Reservations</button>
    </form>
  </div>
</body>

</html>